<td><%= address %></td>
<td><%= state %></td>
<td><%= suburb %></td>
<td><%= postcode %></td>
<td><%= details %></td>

<td><a href="#/<%= id %>">Show</td>
<td><a href="#/<%= id %>/edit">Edit</td>
<td><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></td>