<h1>New location</h1>

<form id="new-location" name="location">
  <div class="field">
    <label for="address"> address:</label>
    <input type="text" name="address" id="address" value=<%= address %> >
  </div>

  <div class="field">
    <label for="state"> state:</label>
    <input type="text" name="state" id="state" value=<%= state %> >
  </div>

  <div class="field">
    <label for="suburb"> suburb:</label>
    <input type="text" name="suburb" id="suburb" value=<%= suburb %> >
  </div>

  <div class="field">
    <label for="postcode"> postcode:</label>
    <input type="text" name="postcode" id="postcode" value=<%= postcode %> >
  </div>

  <div class="field">
    <label for="details"> details:</label>
    <input type="text" name="details" id="details" value=<%= details %> >
  </div>

  <div class="actions">
    <input type="submit" value="Create Location" />
  </div>

</form>

<a href="#/index">Back</a>