<h1>New location</h1>

<form id="new-location" name="location">

  <%= JST["backbone/templates/locations/_errors"]({'model': model}) %>

  <div class="field">
    <label for="address"> address:</label>
    <input type="text" name="address" id="address" value=<%= model.get("address") %> >
  </div>

  <div class="field">
    <label for="state"> state:</label>
    <input type="text" name="state" id="state" value=<%= model.get("state") %> >
  </div>

  <div class="field">
    <label for="suburb"> suburb:</label>
    <input type="text" name="suburb" id="suburb" value=<%= model.get("suburb") %> >
  </div>

  <div class="field">
    <label for="postcode"> postcode:</label>
    <input type="text" name="postcode" id="postcode" value=<%= model.get("postcode") %> >
  </div>

  <div class="field">
    <label for="details"> details:</label>
    <input type="text" name="details" id="details" value=<%= model.get("details") %> >
  </div>

  <div class="actions">
    <input type="submit" value="Create Location" />
  </div>

</form>

<a href="#/index">Back</a>