<p>
  <b>Address:</b>
  <%= address %>
</p>

<p>
  <b>State:</b>
  <%= state %>
</p>

<p>
  <b>Suburb:</b>
  <%= suburb %>
</p>

<p>
  <b>Postcode:</b>
  <%= postcode %>
</p>

<p>
  <b>Details:</b>
  <%= details %>
</p>


<a href="#/index">Back</a>